<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Checkout || Asbab - eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Owl Carousel min css -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" th:href="@{/css/core.css}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" th:href="@{/css/shortcode/shortcodes.css}">
    <!-- Theme main style -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- User style -->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link th:href="@{/checkout/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link th:href="@{/checkout/css/mdb.min.css}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link th:href="@{/checkout/css/style.min.css}" rel="stylesheet">
    <!-- Modernizr JS -->
    <!-- Modernizr JS -->
    <script th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
    <style type="text/css">
        #menu ul {
            background: #fb99bf;
            width: 250px;
            padding: 0;
            list-style-type: none;
            text-align: left;
        }
        #menu li {
            width: auto;
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid #e8e8e8;
            padding: 0 1em;
        }
        #menu li a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            display: block;
        }
        #menu li:hover {
            background: #CDE2CD;
        }
    </style>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Body main wrapper start -->
<div class="wrapper">
    <!-- Start Header Style -->
    <header id="htc__header" class="htc__header__area header--one">
        <!-- Start Mainmenu Area -->
        <div th:replace="~{fragments/menu :: menu}">Header</div>
        <!-- End Mainmenu Area -->
    </header>
    <!-- End Header Area -->
    <div class="body__overlay"></div>
    <!-- Start Offset Wrapper -->
    <div class="offset__wrapper">
        <!-- Start Search Popap -->
        <div class="search__area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search__inner">
                            <form action="#" method="get">
                                <input placeholder="Search here... " type="text">
                                <button type="submit"></button>
                            </form>
                            <div class="search__close__btn">
                                <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Search Popap -->
        <!-- Start Cart Panel -->
        <div class="shopping__cart">
            <div class="shopping__cart__inner">
                <div class="offsetmenu__close__btn">
                    <a href="#"><i class="zmdi zmdi-close"></i></a>
                </div>
                <div class="shp__cart__wrap">
                    <div class="shp__single__product">
                        <div class="shp__pro__thumb">
                            <a href="#">
                                <img th:src="@{images/product-2/sm-smg/1.jpg}" alt="product images">
                            </a>
                        </div>
                        <div class="shp__pro__details">
                            <h2><a href="product-details.html">BO&Play Wireless Speaker</a></h2>
                            <span class="quantity">QTY: 1</span>
                            <span class="shp__price">$105.00</span>
                        </div>
                        <div class="remove__btn">
                            <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                        </div>
                    </div>
                    <div class="shp__single__product">
                        <div class="shp__pro__thumb">
                            <a href="#">
                                <img th:src="@{images/product-2/sm-smg/2.jpg}" alt="product images">
                            </a>
                        </div>
                        <div class="shp__pro__details">
                            <h2><a href="product-details.html">Brone Candle</a></h2>
                            <span class="quantity">QTY: 1</span>
                            <span class="shp__price">$25.00</span>
                        </div>
                        <div class="remove__btn">
                            <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="shoping__total">
                    <li class="subtotal">Subtotal:</li>
                    <li class="total__price">$130.00</li>
                </ul>
                <ul class="shopping__btn">
                    <li><a href="cart.html">View Cart</a></li>
                    <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
                </ul>
            </div>
        </div>
        <!-- End Cart Panel -->
    </div>
    <!-- End Offset Wrapper -->
    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area"
         style="background: rgba(0, 0, 0, 0) url(/images/bg/logo2.jpg) no-repeat scroll center center / cover ;">
        <div class="ht__bradcaump__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bradcaump__inner">
                            <nav class="bradcaump-inner">
                                <a class="breadcrumb-item" href="index.html">Home</a>
                                <span class="brd-separetor"><i class="zmdi zmdi-chevron-right"></i></span>
                                <span class="breadcrumb-item active">checkout</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- cart-main-area start -->
    <!--Main layout-->
<!--    <div class="container mt-3">-->
<!--        &lt;!&ndash; Nav tabs &ndash;&gt;-->
<!--        <ul class="nav nav-tabs">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link active" data-toggle="tab" href="#STATUS_WAIT_GOOD">Chờ xác nhận</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" data-toggle="tab" href="#STATUS_WAIT_GOOD">Chờ lấy hàng</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" data-toggle="tab" href="#STATUS_DELIVERY_PROGRESS">Đang giao</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" data-toggle="tab" href="#STATUS_DELIVERY">Đã nhận</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" data-toggle="tab" href="#STATUS_CANCELLED">Đã hủy</a>-->
<!--            </li>-->
<!--        </ul>-->

<!--        &lt;!&ndash; Tab panes &ndash;&gt;-->
<!--        <div class="tab-content">-->
<!--            <div id="STATUS_WAIT_CONFIRM" class="container tab-pane active"><br>-->
<!--                <table class="table table-striped table-hover table-bordered">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>Mã đơn hàng</th>-->
<!--                        <th>Tổng tiền</th>-->
<!--                        <th>Địa chỉ</th>-->
<!--                        <th>Chi tiết</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="order : ${orderDTOS}">-->

<!--                        <td th:text="${order.id}"></td>-->
<!--                        <td th:text="${order.grandTotal}"></td>-->
<!--                        <td th:text="${order.address}"></td>-->
<!--                        <td></td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--            <div id="STATUS_WAIT_GOOD" class="container tab-pane fade"><br>-->
<!--                <table class="table table-striped table-hover table-bordered">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>Mã đơn hàng</th>-->
<!--                        <th>Tổng tiền</th>-->
<!--                        <th>Địa chỉ</th>-->
<!--                        <th>Chi tiết</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="order : ${orderDTOS1}">-->

<!--                        <td th:text="${order.id}"></td>-->
<!--                        <td th:text="${order.grandTotal}"></td>-->
<!--                        <td th:text="${order.address}"></td>-->
<!--                        <td></td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--            <div id="STATUS_DELIVERY_PROGRESS" class="container tab-pane fade"><br>-->
<!--                <table class="table table-striped table-hover table-bordered">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>Mã đơn hàng</th>-->
<!--                        <th>Tổng tiền</th>-->
<!--                        <th>Địa chỉ</th>-->
<!--                        <th>Chi tiết</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="order : ${orderDTOS2}">-->

<!--                        <td th:text="${order.id}"></td>-->
<!--                        <td th:text="${order.grandTotal}"></td>-->
<!--                        <td th:text="${order.address}"></td>-->
<!--                        <td></td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--            <div id="STATUS_DELIVERY" class="container tab-pane fade"><br>-->
<!--                <table class="table table-striped table-hover table-bordered">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>Mã đơn hàng</th>-->
<!--                        <th>Tổng tiền</th>-->
<!--                        <th>Địa chỉ</th>-->
<!--                        <th>Chi tiết</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="order : ${orderDTOS3}">-->

<!--                        <td th:text="${order.id}"></td>-->
<!--                        <td th:text="${order.grandTotal}"></td>-->
<!--                        <td th:text="${order.address}"></td>-->
<!--                        <td></td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--            <div id="STATUS_CANCELLED" class="container tab-pane fade"><br>-->
<!--                <h3>Menu 2</h3>-->
<!--                <table class="table table-striped table-hover table-bordered">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>Mã đơn hàng</th>-->
<!--                        <th>Tổng tiền</th>-->
<!--                        <th>Địa chỉ</th>-->
<!--                        <th>Chi tiết</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="order : ${orderDTOS4}">-->

<!--                        <td th:text="${order.id}"></td>-->
<!--                        <td th:text="${order.grandTotal}"></td>-->
<!--                        <td th:text="${order.address}"></td>-->
<!--                        <td></td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="htc__category" id="menu">
        <h4 class="title__line--4">categories</h4>
        <ul class="ht__cat__list">
            <li><a th:href="@{/order/history_user/(status=0)}"></a></li>
            <li><a th:href="@{/product-grid(categoryId=1)}"></a></li>
            <li><a th:href="@{/product-grid(categoryId=2)}"></a></li>
            <li><a th:href="@{/product-grid(categoryId=3)}"></a></li>
            <li><a th:href="@{/product-grid(categoryId=4)}"></a></li>
        </ul>
    </div>
    <div class="main">
        <div class="imgage common" id="mota">
            <div class="imgage a" id="anh">
                <img src="./imges/anns-store-301936.jpg">
            </div>
            <div class="name_product a">
                <a>Áo bra</a>
            </div>
        </div>
        <div class="price_product common">
            <span class="price panda">Giá: 150,000VNĐ</span>
            <span class="quantity panda">Số lương: 2</span>
            <span class="date panda">Ngày mua: 2021-01-26</span>
            <span class="total panda">Tổng tiền: 300,000VNĐ</span>
        </div>
        <div class="detail common">
            <a href="#">Xem chi tiết sản phẩm</a>
        </div>
    </div>
    <!--Main layout-->
    <!-- cart-main-area end -->
    <!-- Start Footer Area -->
    <div th:insert="~{fragments/footer :: footer}">&copy; 2017 The Static Templates</div>
    <!-- End Footer Style -->
</div>
<!-- Body main wrapper end -->

<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<!-- jquery latest version -->
<script th:src="@{/js/vendor/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap framework js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- All js plugins included in this file. -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- Waypoints.min.js. -->
<script th:src="@{/js/waypoints.min.js}"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/checkout/js/jquery-3.4.1.min.js}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" th:src="@{/checkout/js/popper.min.js}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" th:src="@{/checkout/js/bootstrap.min.js}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" th:src="@{/checkout/js/mdb.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Initializations -->
</body>

</html>