<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Product Details || Asbab - eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Owl Carousel min css -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" th:href="@{/css/core.css}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" th:href="@{/css/shortcode/shortcodes.css}">
    <!-- Theme main style -->
    <link rel="stylesheet" th:href="@{/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <!-- User style -->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <!-- Modernizr JS -->
    <!-- Modernizr JS -->
    <script th:src="@{/js/vendor/modernizr-3.5.0.min.js}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Body main wrapper start -->
<div class="wrapper">
    <div th:replace="~{fragments/menu :: menu}">Header</div>
    <!-- Start Bradcaump area -->
    <div class="container" style="padding-top: 60px;">
        <div class="row">
            <form class="form" th:action="@{/profile}" method="post" id="registrationForm" th:object="${userCreateRequest}"
                  enctype="multipart/form-data">
            <div class="col-sm-3"><!--left col-->

                <div class="text-center">
                    <img th:src="*{photo}" class="avatar img-circle img-thumbnail"
                         alt="avatar">
                    <h6>Upload a different photo...</h6>
                    <input type="file" class="text-center center-block file-upload" th:field="*{photos}">
                </div>
                </hr><br>
            </div><!--/col-3-->
            <div class="col-sm-9">
                <ul class="nav nav-tabs">
                    <li><a data-toggle="tab" href="#settings">Thông tin tài khoản</a></li>
                </ul>
                <div class="tab-content">
                </div><!--/tab-pane-->
                <div class="tab-pane" id="settings">
                    <hr>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name"><h4>First name</h4></label>
                                <input type="text" th:field="*{firstName}" class="form-control" name="first_name" id="first_name"
                                       placeholder="first name" title="enter your first name if any.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="last_name"><h4>Last name</h4></label>
                                <input type="text" th:field="*{lastName}" class="form-control" name="last_name" id="last_name"
                                       placeholder="last name" title="enter your last name if any.">
                            </div>
                        </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                            <input type="text" th:field="*{email}" disabled class="form-control" name="last_name" id="last_name"
                                   placeholder="last name" title="enter your last name if any.">
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="mobile"><h4>Mobile</h4></label>
                                <input type="text" th:field="*{mobile}" class="form-control" name="mobile" id="mobile"
                                       placeholder="enter mobile number" title="enter your mobile number if any.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="email"><h4>Email</h4></label>
                                <input type="email" th:field="*{email}" disabled class="form-control" name="email" id="email"
                                       placeholder="you@email.com" title="enter your email.">
                            </div>
                        </div>
                    <div class="form-group">

                            <div class="col-xs-6">
                                <label for="email"><h4>Address</h4></label>
                                <input type="text" class="form-control" name="email" id="diachi"
                                       placeholder="you@email.com" title="enter your email.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <label for="city-province">province</label>
                                    <select class="custom-select d-block w-100" id="city-province" required>
                                        <option value='0'>&nbsp;Chọn Tỉnh/Thành Phố...</option>
                                        <option value='01'>&nbspThành phố Hà Nội</option>
                                        <option value='79'>&nbspThành phố Hồ Chí Minh</option>
                                        <option value='31'>&nbspThành phố Hải Phòng</option>
                                        <option value='48'>&nbspThành phố Đà Nẵng</option>
                                        <option value='92'>&nbspThành phố Cần Thơ</option>
                                        <option value='02'>&nbspTỉnh Hà Giang</option>
                                        <option value='04'>&nbspTỉnh Cao Bằng</option>
                                        <option value='06'>&nbspTỉnh Bắc Kạn</option>
                                        <option value='08'>&nbspTỉnh Tuyên Quang</option>
                                        <option value='10'>&nbspTỉnh Lào Cai</option>
                                        <option value='11'>&nbspTỉnh Điện Biên</option>
                                        <option value='12'>&nbspTỉnh Lai Châu</option>
                                        <option value='14'>&nbspTỉnh Sơn La</option>
                                        <option value='15'>&nbspTỉnh Yên Bái</option>
                                        <option value='17'>&nbspTỉnh Hoà Bình</option>
                                        <option value='19'>&nbspTỉnh Thái Nguyên</option>
                                        <option value='20'>&nbspTỉnh Lạng Sơn</option>
                                        <option value='22'>&nbspTỉnh Quảng Ninh</option>
                                        <option value='24'>&nbspTỉnh Bắc Giang</option>
                                        <option value='25'>&nbspTỉnh Phú Thọ</option>
                                        <option value='26'>&nbspTỉnh Vĩnh Phúc</option>
                                        <option value='27'>&nbspTỉnh Bắc Ninh</option>
                                        <option value='30'>&nbspTỉnh Hải Dương</option>
                                        <option value='33'>&nbspTỉnh Hưng Yên</option>
                                        <option value='34'>&nbspTỉnh Thái Bình</option>
                                        <option value='35'>&nbspTỉnh Hà Nam</option>
                                        <option value='36'>&nbspTỉnh Nam Định</option>
                                        <option value='37'>&nbspTỉnh Ninh Bình</option>
                                        <option value='38'>&nbspTỉnh Thanh Hóa</option>
                                        <option value='40'>&nbspTỉnh Nghệ An</option>
                                        <option value='42'>&nbspTỉnh Hà Tĩnh</option>
                                        <option value='44'>&nbspTỉnh Quảng Bình</option>
                                        <option value='45'>&nbspTỉnh Quảng Trị</option>
                                        <option value='46'>&nbspTỉnh Thừa Thiên Huế</option>
                                        <option value='49'>&nbspTỉnh Quảng Nam</option>
                                        <option value='51'>&nbspTỉnh Quảng Ngãi</option>
                                        <option value='52'>&nbspTỉnh Bình Định</option>
                                        <option value='54'>&nbspTỉnh Phú Yên</option>
                                        <option value='56'>&nbspTỉnh Khánh Hòa</option>
                                        <option value='58'>&nbspTỉnh Ninh Thuận</option>
                                        <option value='60'>&nbspTỉnh Bình Thuận</option>
                                        <option value='62'>&nbspTỉnh Kon Tum</option>
                                        <option value='64'>&nbspTỉnh Gia Lai</option>
                                        <option value='66'>&nbspTỉnh Đắk Lắk</option>
                                        <option value='67'>&nbspTỉnh Đắk Nông</option>
                                        <option value='68'>&nbspTỉnh Lâm Đồng</option>
                                        <option value='70'>&nbspTỉnh Bình Phước</option>
                                        <option value='72'>&nbspTỉnh Tây Ninh</option>
                                        <option value='74'>&nbspTỉnh Bình Dương</option>
                                        <option value='75'>&nbspTỉnh Đồng Nai</option>
                                        <option value='77'>&nbspTỉnh Bà Rịa - Vũng Tàu</option>
                                        <option value='80'>&nbspTỉnh Long An</option>
                                        <option value='82'>&nbspTỉnh Tiền Giang</option>
                                        <option value='83'>&nbspTỉnh Bến Tre</option>
                                        <option value='84'>&nbspTỉnh Trà Vinh</option>
                                        <option value='86'>&nbspTỉnh Vĩnh Long</option>
                                        <option value='87'>&nbspTỉnh Đồng Tháp</option>
                                        <option value='89'>&nbspTỉnh An Giang</option>
                                        <option value='91'>&nbspTỉnh Kiên Giang</option>
                                        <option value='93'>&nbspTỉnh Hậu Giang</option>
                                        <option value='94'>&nbspTỉnh Sóc Trăng</option>
                                        <option value='95'>&nbspTỉnh Bạc Liêu</option>
                                        <option value='96'>&nbspTỉnh Cà Mau</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid country.
                                    </div>

                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-6 mb-4 district-town-select">

                                    <label for="district-town">District</label>
                                    <select class="custom-select d-block w-100" id="district-town" required
                                    >
                                        <option value='0'>&nbsp;Chọn Quận/Huyện...</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please provide a valid state.
                                    </div>

                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-6 mb-4 ward-commune-select">

                                    <label for="ward-commune">Ward commune</label>
                                    <select class="custom-select d-block w-100" id="ward-commune" required
                                    >
                                        <option value='0'>&nbsp;Chọn Phường/Xã...</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please provide a valid state.
                                    </div>

                                </div>
                                <input style="display: none" class="form-control"
                                       th:field="*{address}" id="address1">
                            </div>
                            <!--Grid row-->
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success pull-right" type="submit"><i
                                        class="glyphicon glyphicon-ok-sign"></i> Save
                                </button>
                                <!--<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>-->
                            </div>
                        </div>
                </div>

            </div><!--/tab-pane-->
        </form>
    </div><!--/col-9-->
</div>
<!
</div>
<!-- End Product Area -->
<!-- Start Footer Area -->
<div th:insert="~{fragments/footer :: footer}">&copy; 2017 The Static Templates</div>
<!-- End Footer Style -->
</div>
<!-- Body main wrapper end -->

<!-- Placed js at the end of the document so the pages load faster -->

<!-- jquery latest version -->
<script th:src="@{/js/vendor/jquery-3.2.1.min.js}"></script>
<!-- Bootstrap framework js -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- All js plugins included in this file. -->
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- Waypoints.min.js. -->
<script th:src="@{/js/waypoints.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script th:src="@{/js/main.js}"></script>
<script>
    const apiUrl = "https://sheltered-anchorage-60344.herokuapp.com";
    const apiEndpointDistrict = apiUrl + '/district/?idProvince=';
    const apiEndpointCommune = apiUrl + '/commune/?idDistrict=';

    async function getDistrict(idProvince) {
        const {data: districtList} = await axios.get(apiEndpointDistrict + idProvince);
        return districtList
    }

    async function getCommune(idDistrict) {
        const {data: communeList} = await axios.get(apiEndpointCommune + idDistrict);
        return communeList
    }

    document.querySelector('#city-province').addEventListener("change", async () => {// get district and town when changing city/province
        const idProvince = document.querySelector('#city-province').value;
        const districtList = await getDistrict(idProvince) || [];
        let outputDistrict = "<option value='0'>&nbspChọn Quận/Huyện...</option>";
        let outputCommune = "<option value='0'>&nbspChọn Phường/Xã...</option>";
        for (let i = 0; i < districtList.length; i++) {
            if (districtList[i].idProvince === idProvince) {
                outputDistrict += `<option value='${districtList[i].idDistrict}'>&nbsp${districtList[i].name}</option>`;
            }
        }
        document.querySelector('#district-town').innerHTML = outputDistrict;
        document.querySelector('#ward-commune').innerHTML = outputCommune;
        document.querySelector('.district-town-select > span').style.display = "none";
    })

    document.querySelector('#district-town').addEventListener("change", async () => {// get ward and commune when changing district/town
        const idDistrict = document.querySelector('#district-town').value;
        const communeList = await getCommune(idDistrict) || [];
        let outputCommune = "<option value='0'>&nbspChọn Phường/Xã...</option>";
        for (let i = 0; i < communeList.length; i++) {
            if (communeList[i].idDistrict === idDistrict) {
                outputCommune += `<option value='${communeList[i].idCommune}'>&nbsp${communeList[i].name}</option>`;
            }
        }
        document.querySelector('#ward-commune').innerHTML = outputCommune;
        document.querySelector('.ward-commune-select > span').style.display = "none";
    })
    function Show() {
        let line = document.getElementById("diachi").value;
        let city = document.getElementById("city-province");
        let district = document.getElementById("district-town");
        let wardCommune = document.getElementById("ward-commune");
        let obj = {
            shopping:shopping.options[shopping.selectedIndex].value,
            city: city.options[city.selectedIndex].text,
            district: district.options[district.selectedIndex].text,
            wardCommune: wardCommune.options[wardCommune.selectedIndex].text,
        }
        document.getElementById("address1").value =line+"-"+`${obj.wardCommune}-${obj.district}-${obj.city}`;
    }
</script>
</body>
<script type="text/javascript">
    $(document).ready(function () {


        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }


        $(".file-upload").on('change', function () {
            readURL(this);
        });
    });
</script>
</html>